.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ebf5dc;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body {
  padding-top: 50px;
  background-color: navy;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 600px;
  color: white;
}

.App-link {
  color: #61dafb;
}